@font-face {
    font-family: 'Barlow semi-condensed';
    src: url(./fonts/BarlowSemiCondensed-Medium.woff2);
    font-weight: 500;
}
@font-face {
    font-family: 'Barlow semi-condensed';
    src: url(./fonts/BarlowSemiCondensed-SemiBold.woff2);
    font-weight: 600;
}

:root{

    /* colors */

    --primary-violet: rgb(117, 65, 200);
    --dark-grayish-blue: rgb(72, 85, 106);
    --dark-blackish-blue: rgb(25, 33, 46);
    --Light-gray: rgb(207, 207, 207);
    --Light-grayish-blue: rgb(236, 242, 248);
    --white: rgb(255, 255, 255) ;
}

*,
*::after,
*::before{
    box-sizing: border-box;
}