@font-face {
    font-family: 'Barlow semi-condensed';
    src: url(./fonts/BarlowSemiCondensed-Medium.woff2) format('woff2');
    font-weight: 500;
}
@font-face {
    font-family: 'Barlow semi-condensed';
    src: url(./fonts/BarlowSemiCondensed-SemiBold.woff2) format('woff2');
    font-weight: 600;
}

:root{

    /* colors */

    --primary-violet: rgb(117, 65, 200);
    --dark-grayish-blue: rgb(72, 85, 106);
    --dark-blackish-blue: rgb(25, 33, 46);
    --Light-gray: rgb(207, 207, 207);
    --Light-grayish-blue: rgb(236, 242, 248);
    --white: rgb(255, 255, 255) ;
}

*,
*::after,
*::before{
    box-sizing: border-box;
}

html{
    margin: 0;
}

body{
    font-size: .8125rem;
    color: var(--dark-blackish-blue);
    font-family: 'Barlow semi-condensed';
    background: var(--Light-grayish-blue);
}
.cards{
    width: 90%;
    max-width: 1400px;
    margin: 5rem auto;
    display: grid;
    gap: 1.5rem;
    position: relative;
}
.card{
    background: var(--white);
    padding: 2rem;
    border-radius: .5rem;
    box-shadow: 20px 10px 20px var(--Light-gray);
}
.card:first-child p {
    z-index: 3;
    position: relative; /* to activate Z-index property */
}
.card:first-child .card__header::before{
    content:url(./images/bg-pattern-quotation.svg);
    position: absolute;
    right: 20px;
    top: 0px;
    z-index: 1;    
}
.bg-dark{
    background: var(--dark-blackish-blue);
    color: var(--white);
}
.bg-gray{
    background: var(--dark-grayish-blue);
    color: var(--white);
}
.bg-violet{
    background: var(--primary-violet);
    color: var(--white);
}
.bg-dark .card__header img{
    border: 2px solid rgba(117, 65, 200, 0.7);
}
.bg-violet .card__header img{
    border: 2px solid rgba(255, 255, 255, 0.3);
}
.card__header{
    display: flex;
}
.card__header img{
    width: 30px;
    border-radius: 50%;
    margin-inline-end: 1rem;
}
.user__description p{
    margin: 0;
}
.card .user__name,
.card .card__review-title{
    font-weight: 600;
}
.card .user__graduate{
    opacity: .5;
}
.card__review-title{
    font-size: 1.525em;
    line-height: 1.2;
    margin-block: 0.5em;
}

.card__review{
    line-height: 1.3;
    margin: 0;
    opacity: .7;
}
@media screen and (min-width: 950px) {
    body{
        display: grid;
        place-content: center;
        height: 100vh;
    }
    .cards{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 50%);
        place-content: center;
    }
    .one,
    .four{
        grid-column: span 2;
    }
    .five{
        grid-row: 1/3;
        grid-column: 4/5;
    }
    .card:first-child .card__header::before{
        right: 59%;
    }
}
